<div class="inner">
  <div class="button-container">
    <button class="action-primary reload">Reload schemas</button>
  </div>
  <div class="schemas-list">
    <ul>
      {{#each schemas}}
        <li><a href="/api/schema/{{this}}">{{this}}</a></li>
      {{/each}}
    </ul>
  </div>
  <pre class="schema"></pre>
</div>
