@import 'fonts';
@import 'sharedStyles';

body.module-debug {
  .debug .view > .schemas > .inner {
    .schemas-list-container {
      width: 300px;
      background-color: @tertiary-color;
      border-right: 1px solid black;
      padding: 20px;
      .button-container {
        text-align: center;
        margin-bottom: 20px;
      }
      .schemas-list {
        display: flex;
        .schemas-list-inner {
          li {
            list-style-type: none;
            a {
              text-decoration: none;
              color: @white;
              font-weight: @font-weight-bold;
            }
          }
        }
      }
    }
    .schema {
      white-space: pre;
      padding: 20px;
    }
  }
}
